<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-9">
                <p class="h2">
                    Cursos
                </p>
            </div>
            <div class="col-lg-3 text-end">
                <button disabled type="button" class="btn btn-outline-success">Nuevo</button>
            </div>
        </div>
    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Credito</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data" >
                    <td>{{item.c_id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.credits}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>