<div class="top-section" id="yui_3_17_2_1_1670648019655_23">
  <div class="container-fluid" id="yui_3_17_2_1_1670648019655_22">
    <div class="row" id="yui_3_17_2_1_1670648019655_21">
      <div class="col-lg-6 col-md-8 col-sm-12 social-icons">
        <div class="float-left boxcon">
          <a href="https://www.facebook.com/aulasamigas/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/AulasAmigas" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
        <div class="float-left contact-topbar">
          <span>
            <i class="fa fa-clock-o"></i> #MaestrosqueInspiran
          </span>
          <span>
            <i class="fa fa-envelope"></i> Formación virtual Aulas AMiGAS
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img
        src="https://aulavirtual.aulasamigas.com/pluginfile.php/1/theme_academic/logo/1640350364/LOGOS%20aulas%20amigas.png"
        alt="aulaAmiga">
    </a>

    <ul class="nav nav-pills align-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" routerLinkActive="active">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course" routerLinkActive="active">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course-student" routerLinkActive="active">Estudiantes por cursos</a>
      </li>
    </ul>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>