<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-9">
                <p class="h2">
                    Estudiante
                </p>
            </div>
            <div class="col-lg-3 text-end">
                <button disabled type="button" class="mx-3 btn btn-outline-success">Nuevo</button>
                <button type="button" class="btn btn-outline">Listado</button>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row g-2 my-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder=""
                        value="">
                    <label for="floatingInputGrid">Nombre</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder=""
                        value="">
                    <label for="floatingInputGrid">Apellido</label>
                </div>
            </div>
        </div>
        <div class="row g-2 my-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder=""
                        value="">
                    <label for="floatingInputGrid">Correo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelectGrid">Grupo</label>
                </div>
            </div>
        </div>
        <div class="row g-2 my-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="phone" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                        value="">
                    <label for="floatingInputGrid">Télefono</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                        value="">
                    <label for="floatingInputGrid">Geolocalización</label>
                </div>
            </div>
        </div>
        <div class="row g-2 my-2 align-items-center">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option selected>Seleccionar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelectGrid">Grupo</label>
                </div>
            </div>
            <div class="col-md text-end">
                <button type="button" class="btn btn-outline-success">Guardar</button>
            </div>
        </div>
    </div>
</div>